.radioButton {
  &_Body {
    padding-top: 32px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  &_Item {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
  }

  input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }

  input[type='radio']:checked {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  label {
    cursor: pointer;
    width: 60px;
    height: 60px;
  }

  &_Apple {
    cursor: pointer;
  }

  &_Apple:hover {
    fill: #222122;
  }

  &_Title {
    font-size: 13px;
    color: #222122;
    padding-top: 8px;
    font-weight: 600;
    line-height: 22px;
  }

  &_Description {
    font-size: 12px;
    color: #5b5b5b;
    padding-top: 8px;
    font-weight: 400;
    line-height: 18px;
  }
}
