.statisticCard {
  &_Container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  &_Card {
    border: 2px solid #222122;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
      color: #5b5b5b;
      font-size: 26px;
      font-weight: 500;
      margin: 10px;
    }
  }
}
