.info-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 72px;
}

.card-header {
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;

  border-radius: 2px;
}

.card {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 8px;
  padding: 24px;

  .description {
    display: flex;

    .first-p {
      color: #5b5b5b;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }

    .icon-container {
      width: 124px;
      height: 124px;
    }
  }

  .second-p {
    color: #222122;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}

.button-try {
  background: #fcd351;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  font-weight: 500;
  font-family: 'IBM Plex Sans';
  color: #222122;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.button-try:hover {
  transform: scale(1.1, 1.1);
}
