.local {
  margin-top: 50px;
  margin-bottom: 100px;

  &_Title {
    color: #222122;
    font-size: 40px;
    font-weight: 500;
  }

  &_Details {
    color: #5b5b5b;
    font-size: 24px;
    font-weight: 500;
  }
}
